body{
    background-image:url('../img/back.jpg');
    background-size: cover;
}
.keys{
    display: flex; 
    align-content: center;
    justify-content: space-around;
    

}
.key{
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: gray;
    transition:all 0.07s;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playing{
    transform: (1.1);
    border-color: blue;
}
.key > p, span{
    color:#fff;
    
}
